{% extends 'layout.html' %}


{% block body %}
    <h3>Hakkımızda</h3>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda atque omnis asperiores dolorum tempore alias officia dolores ut ipsum inventore pariatur, consequatur nulla perspiciatis repudiandae, iusto praesentium necessitatibus ipsam expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nihil, modi asperiores assumenda voluptatibus quas officia obcaecati magni perferendis perspiciatis nulla iusto cumque, mollitia laudantium sint a. Dignissimos, sint explicabo!</p>
{% endblock body %}
    