{% extends 'layout.html' %}


{% block body %}
    <h3>Makaleler</h3>
    <hr>
    
    {% if articles %}
    
    <form method="post">
        {% csrf_token %}
        <input type="text" name= "keyword" class="input-sm" maxlength="64" placeholder="Aradığınız makale..."> <!--name değeri vermezsek yazılan bilgiyi alamayız.-->
        <button type="submit" class="btn btn-dark">Ara</button>
    </form>
    <br><br>
        {% for article in articles %}
        <style>
            h5::first-letter{
                color: red
            }
            .d-flex:hover>.mb-1{
                font-size: 50px
            }
        </style>

            <div class="list-group">
                <a href="/articles/article/{{article.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{article.title}}</h5>
                        <small class="text-muted">{{article.created_date}}</small>
                    </div>
                    <p class="mb-1" style="color: rgba(0, 0, 0, 0.3)"> <i>{{article.summary|truncatewords:5}} </i> </p>
                </a>
            </div>    
        {% endfor %}
            

    {% else %}
        <div class="alert alert-danger">
            Makale bulunmuyor.
        </div>
    {% endif %}
        
{% endblock body %}
    